h1 {
color: rgb(41, 145, 0);
}
img {
   width: 400px;
}

#thirdDiv  {
   height: 600px;
   width: 500px;
   background-color: yellow;
   padding: 50px;
   border-color: darkgreen;
   border-width: 6px;
   border-style: double;
}

#spanId {
font-size: 18px;
margin: 50px;
}